*{

    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

body{

    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://th.bing.com/th/id/OIG.Fug2qd2KwjqlZ_36rJX0?pid=ImgGn");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}


.resultado li img{
    margin: auto 0 auto 1%;
    height: 15vw;
    width: 10vw;
    margin-right: 2%;
    padding-top: 1%;
    

}

/* .theme.dark{

    color: white;
    background-color: black;
    

} */

.pesquisa{

    display: flex;
    justify-content: center;
    height: 25vh;
    width:85vw;
    align-items: center;
    flex-direction: column;
    margin: 1%;
    color: white;
    text-shadow: -1px -1px 0px gray, -1px 1px 0px black, 1px -1px 0px black, 1px 0px 0px black;
    
}

.pesquisa input{

    margin: 0.5% 0;

}

.btn{

    padding: 2vw auto;
    text-align: center;

}

.btn p{

    padding: 2vw auto;
    text-align: center;

}

.pesquisa a{

    margin: 1% 0;
    padding: 0.5%;
    border: 1px solid;
}

.pesquisa a:hover{

    color: cyan;
}

.resultado{
 
    display: flex;
    flex-direction: column;
    height: 75vh;
    width:85vw;
    color: white;
    text-shadow: -1px -1px 0px gray, -1px 1px 0px black, 1px -1px 0px black, 1px 0px 0px black;

}


.resultado li{

    display: flex;
    padding-bottom: 1%;
    flex-direction: row;
    border: 1px solid ;
    background-color:rgba(18, 32, 78, 0.3);

}



.resultado a{

    color: white;
    text-decoration: underline solid 1px;
    padding: 0.6% 0 1%;
 
}

.resultado a:hover{

    color: cyan;

}

.info{

    text-decoration: underline solid 1px;
    padding: 0.3% 0 0.5%;
 
}

.info:hover{

    color: cyan;

}

.pFav{

    text-decoration: underline solid 1px;
    padding: 0.2% 0 1%;
 
}

.pFav:hover{

    color: cyan;

}

.pEst{

    text-decoration: underline solid 1px;
    padding: 0.2% 0 1%
 
}

.pEst:hover{

    color: cyan;

}

.pesquisa input{
    height: 10%;
    width: 60%;
    
}

.pesquisa button{
    height: 10%;
    width: 60%;
   
}

#lista{

    width: 85vw;
    display: flex;
    flex-direction: column;

}

.boxP{
    display: flex;
    flex-direction: column;
    

}

.pTítulo{
    font-size: 24px;
    font-weight: bold;
}

#customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
  }

  #customBtn:hover {
    cursor: pointer;
  }
/*   span.label {
    font-family: serif;
    font-weight: normal;
  } */

  span.icon {
    background-image: url('https://cdn-icons-png.flaticon.com/128/300/300221.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
  }

  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: none;
    

    /* Use the Roboto font that is loaded in the <head> */
    
  }

  #BtnApg{

    border: none;
    background: none;    

  }

@media only screen and (min-width:768px) {

    .resultado li img{
        margin: auto 0 auto 1%;
        max-height: 15vw;
        max-width: 10vw;
        margin-right: 2%;
        

    }
}

@media only screen and (max-width:768px) {

    .resultado li img{
        margin: auto 0 auto 1%;
        height: 35vw;
        width: 30vw;
        margin-right: 2%;
        

    }
}

@media only screen and (min-width:2560px) {

    .resultado li {
        font-size: 25px;
    }

    .pTítulo{
        font-size: 40px;
    }

    .pesquisa{

        height: 60vh;
        width: 80vw;
        padding: 0;
        font-size: 25px;
    }

    #lista{

        height: 75vh;
        display: flex;
        flex-direction: column;
    
    }

    .pesquisa input{
        height: 10%;
        width: 60%;
        font-size: 25px;
        
    }

    .pesquisa button{
        height: 10%;
        width: 60%;
        font-size: 25px;
    }
}

.links{

    display: flex;
    flex-direction: column;
    width: 50vw;
}

.links a{
    background-color:rgba(18, 32, 78, 0.2);
    padding: 10% 5%;
    margin: 2%;
    border: 1px solid;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 0px gray, -1px 1px 0px black, 1px -1px 0px black, 1px 0px 0px black;

}

.links a:hover{

    color: cyan;

}

.links h1{
    /* background-color:rgba(18, 32, 78, 0.2);
    padding: 10% 5%;
    margin: 2%;
    border: 1px solid;
    
    font-size: 24px; */
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 0px gray, -1px 1px 0px black, 1px -1px 0px black, 1px 0px 0px black;

}

.deslogar{

    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    border: 1px solid;
    padding: 1%;
    text-shadow: -1px -1px 0px gray, -1px 1px 0px black, 1px -1px 0px black, 1px 0px 0px black;

}

.deslogar .p{

    display: none;

}

.deslogar .load{

    display: block;

}

.deslogar:hover{

    color: cyan;

}