/* controle geral do tema */

.theme.dark{

    color: white;
    background: none;
    background-color: black;
    
}



.btnTheme{

   position: absolute;
   top: 10px;
   left: 10px;

}

.theme .triggerTheme .icon{

    width: 40px;
    height: 40px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;

 }


 /* controle do botão */

 .theme .triggerTheme{

   width: 40px;
   height: 40px;
   border: none;
   background-size: cover;
   background-repeat: no-repeat;
   

}

 .theme.dark .triggerTheme{

    background-image: url(../img/sol.png);

 }

 .theme.light .triggerTheme{

    background-image: url(../img/lua.png);

 }

 .theme .triggerTheme:hover {

    padding: 2px;
    margin: 2px;
    width: 50px;
    height: 50px;
    border-radius: 5px;

 }

.triggerTheme{

      background:none;
      border: none;

}

/* Edição da pesquisa */


.theme.light #logo{

   background-image: url("../img/OIP.jpg");

}

.theme.dark #logo{

   background-image: url("../img/OIP\ Dark.jpg");

}

.theme.dark .pesquisa{

   color: white;
   
}

.theme.dark .resultado{

   color: white;
   
   
}

.theme.dark .sobre a{
   margin-right: 3%;
   color: white;
   text-emphasis: none;
   text-decoration: none;
}

.theme.light .sobre a:hover{

   color: black;
   background-image: url("https://th.bing.com/th/id/OIP.p8PLu7jS8Zl2ynv1YhZEUwAAAA?pid=ImgDet&w=199&h=184&c=7&dpr=1,3");
   background-size:cover;
   background-repeat: no-repeat;
   
}

.theme.dark .sobre a:hover{

   background-image: url("https://th.bing.com/th/id/OIP.MG8emb07mYZKlYaHOC1PSwAAAA?pid=ImgDet&w=199&h=199&c=7&dpr=1,3");
   background-size:cover;
   background-repeat: no-repeat;
}

.theme.dark .pesquisa button{

   background-color: rgb(49, 49, 49);
   color: white;
   
}

.theme.dark .pesquisa button:hover{

   background-color: rgb(90, 89, 89);
}

.theme.light .pesquisa button:hover{

   background-color: rgb(148, 146, 146);
}

.theme.dark .links h1{

   color: white;

}

/* Edição do texto do resultado */

.theme.light .resultado a{

   color: black;

}

.theme.dark .resultado a{

   color: white;

}

.theme.light .resultado a:hover{

   color: rgb(255, 0, 0);

}

.theme.dark .resultado a:hover{

   color: rgb(61, 170, 189);
   
}

.theme.light nav a:hover{

   color: rgb(255, 0, 0);

}

.theme.dark nav a:hover{

   color: rgb(61, 170, 189);
   
}

.theme.light .info:hover{

   color: rgb(255, 0, 0);

}

.theme.dark .info:hover{

   color: rgb(61, 170, 189);

}

.theme.light .pFav:hover{

   color: rgb(255, 0, 0);

}

.theme.dark .pFav:hover{

   color: rgb(61, 170, 189);

}


.theme.light .pEst:hover{

   color: rgb(255, 0, 0);

}

.theme.dark .pEst:hover{

   color: rgb(61, 170, 189);

}

.theme.dark .links a{

   color: white;

}

.theme.light .links a:hover{

   color: black;
   background-image: url("https://th.bing.com/th/id/OIP.p8PLu7jS8Zl2ynv1YhZEUwAAAA?pid=ImgDet&w=199&h=184&c=7&dpr=1,3");
   background-size:cover;
   background-repeat: no-repeat;
   border: none;
   box-shadow: rgba(0, 0, 0, 0.4) 6px 8px 5px;
}

.theme.dark .links a:hover{
   
   background-image: url("https://th.bing.com/th/id/OIP.MG8emb07mYZKlYaHOC1PSwAAAA?pid=ImgDet&w=199&h=199&c=7&dpr=1,3");
   background-size:cover;
   background-repeat: no-repeat;
   border: none;
   box-shadow: rgba(120, 121, 121, 0.4) 1px 0px 0px 2px, rgba(136, 138, 138, 0.65) 1px 4px 6px -1px, rgba(155, 156, 156, 0.08) 1px 1px 0px inset;

}

.theme.dark .deslogar{

   color: white;

}

.theme.light .deslogar:hover{

   background-image: url("https://th.bing.com/th/id/OIP.p8PLu7jS8Zl2ynv1YhZEUwAAAA?pid=ImgDet&w=199&h=184&c=7&dpr=1,3");
   background-size:cover;
   background-repeat: no-repeat;

}

.theme.dark .deslogar:hover{

   background-image: url("https://th.bing.com/th/id/OIP.MG8emb07mYZKlYaHOC1PSwAAAA?pid=ImgDet&w=199&h=199&c=7&dpr=1,3");
   color: white;
   background-size: cover;

}

