/* controle geral do tema */

.theme.dark{

    color: white;
    background: none;
    background-color: black;
    

}



.btnTheme{

   position: absolute;
   top: 10px;
   left: 10px;

}

.theme .triggerTheme .icon{

    width: 40px;
    height: 40px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;

 }

 /* controle do botão */

 .theme.dark .triggerTheme{

    background-image: url(../img/sol.png);
    width: 40px;
    height: 40px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    

 }

 .theme.light .triggerTheme{

    background-image: url(../img/lua.png);
    width: 40px;
    height: 40px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    

 }

 .theme.dark .triggerTheme:hover {

    border:2px;
    border-color: white;
    border-style: solid;
    border-radius: 5px;

 }

 .theme.light .triggerTheme:hover{

    border:2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;

 }
 .theme .triggerTheme:hover {

    padding: 2px;
    margin: 2px;

 }

.triggerTheme{

      background:none;
      border: none;

}

/* Edição da pesquisa */

.theme.dark .pesquisa{

   color: white;
   
}

.theme.dark .resultado{

   color: white;
   
}

.theme.light .pesquisa a:hover{

   color: rgb(170, 9, 9);
}

.theme.dark .pesquisa a:hover{

   color: rgb(170, 9, 9);
}

/* Edição do texto do resultado */

.theme.light .resultado a{

   color: black;

}

.theme.dark .resultado a{

   color: white;

}

.theme.light .resultado a:hover{

   color: rgb(170, 9, 9);

}

.theme.dark .resultado a:hover{

   color: blue;

}

.theme.light .info:hover{

   color: rgb(170, 9, 9);

}

.theme.dark .info:hover{

   color: blue;

}

.theme.light .pFav:hover{

   color: rgb(170, 9, 9);

}

.theme.dark .pFav:hover{

   color: blue;

}


.theme.light .pEst:hover{

   color: rgb(170, 9, 9);

}

.theme.dark .pEst:hover{

   color: blue;

}

.theme.dark .links a{

   color: white;

}

.theme.light .links a:hover{

   color: rgb(170, 9, 9);

}

.theme.dark .links a:hover{

   color: blue;

}

.theme.light .links a:hover{

   color: rgb(170, 9, 9);

}

.theme.dark .deslogar:hover{

   color: blue;

}

