/* controle geral do tema */

.theme.dark{

    color: white;
    background: none;
    background-color: black;
    

}



.btnTheme{

   position: absolute;
   top: 10px;
   left: 10px;

}

.theme .triggerTheme .icon{

    width: 40px;
    height: 40px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;

 }

 /* controle geral do tema */

 .theme.dark .triggerTheme{

    background-image: url(../img/sol.png);
    width: 40px;
    height: 40px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    

 }

 .theme.light .triggerTheme{

    background-image: url(../img/lua.png);
    width: 40px;
    height: 40px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    

 }

 .theme.dark .triggerTheme:hover {

    border:2px;
    border-color: white;
    border-style: solid;
    border-radius: 5px;

 }

 .theme.light .triggerTheme:hover{

    border:2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;

 }
 .theme .triggerTheme:hover {

    padding: 2px;
    margin: 2px;

 }

.triggerTheme{

      background:none;
      border: none;

}

/* Edição da pesquisa */

.theme.dark .pesquisa{

   color: white;
   
}

.theme.dark .resultado{

   color: white;
   
}

.theme.light .pesquisa a:hover{

   color: cyan;
}

.theme.dark .pesquisa a:hover{

   color: blue;
}

/* Edição do resultado */

.theme.dark .resultado a{

   color: white;

}

.theme.light .resultado a:hover{

   color: cyan;

}

.theme.dark .resultado a:hover{

   color: blue;

}

.info{

   text-decoration: underline solid 1px;
   padding: 0.3% 0 0.5%;

}

.info:hover{

   color: cyan;

}

.pFav{

   text-decoration: underline solid 1px;
   padding: 0.2% 0 1%;

}

.pFav:hover{

   color: cyan;

}

.pEst{

   text-decoration: underline solid 1px;
   padding: 0.2% 0 1%

}

.pEst:hover{

   color: cyan;

}